<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_Customer::question_menu" title="Quesion List" module="Tigren_Customer"
             sortOrder="20" resource="Tigren_Customer::view"/>
        <add id="Tigren_Customer::posts_menu" title="Quesion List View" module="Tigren_Customer" sortOrder="1"
             parent="Tigren_Customer::question_menu" action="tigren_customer/question"
             resource="Tigren_Customer::menu"/>
        <add id="Tigren_Customer::posts2_menu" title="Quesion List Create" module="Tigren_Customer" sortOrder="1"
             parent="Tigren_Customer::question_menu" action="tigren_customer/question/questioncreating"
             resource="Tigren_Customer::menu2"/>

        <add id="Tigren_Customer::helloworld" title="Hello World" module="Tigren_Customer" sortOrder="51"
             resource="Tigren_Customer::helloworld"/>
        <add id="Tigren_Customer::post" title="Manage Posts" module="Tigren_Customer" sortOrder="10"
             action="tigren_customer/post" resource="Tigren_Customer::post" parent="Tigren_Customer::helloworld"/>
        <add id="Tigren_Customer::hello_configuration" title="Configuration" module="Tigren_Customer" sortOrder="99"
             parent="Tigren_Customer::helloworld" action="adminhtml/system_config/edit/section/helloworld"
             resource="Tigren_Customer::helloworld_configuration"/>

    </menu>
</config>
